<?xml version="1.0" encoding="UTF-8"?>
<plugin>

    <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.testgen.testgenerator.ui.plugin.command.category1"
            name="TestgeneratorConfigurationUI">
      </category>
      <command
            categoryId="org.testgen.testgenerator.ui.plugin.command.category1"
            id="org.testgen.testgenerator.ui.plugin.command.configure"
            name="TestgeneratorConfigurationUI configure">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.CompilationUnitEditor.EditorContext?after=group.open">
            <command
                  commandId="org.testgen.testgenerator.ui.plugin.command.configure"
                  label="Testgenerator - Configuration">
            
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        forcePluginActivation="true"
                        property="org.testgen.testgenerator.ui.plugin.MethodPropertyTester.hasResourceSelection">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.testgen.testgenerator.ui.plugin.handler.Command"
            commandId="org.testgen.testgenerator.ui.plugin.command.configure">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.testgen.testgenerator.ui.plugin.propertytester.MethodPropertyTester"
            id="org.testgen.testgenerator.ui.plugin.MethodPropertyTester"
            namespace="org.testgen.testgenerator.ui.plugin.MethodPropertyTester"
            properties="hasResourceSelection"
            type="org.eclipse.jdt.internal.ui.javaeditor.CompilationUnitEditor">
      </propertyTester>
   </extension>
</plugin>